.super-mario {
    position: absolute;
    width: 200px;
    left: 100px;
    z-index: 1;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    left: 200px;
    top: 340px;
    z-index: 2;
  }
  
  .baloon {
      position: absolute;
      left: 300px;
      top: 100px;
      z-index: 3;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 330px;
    top: 130px;
    z-index: 4;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    z-index: 5;
    left: 600px;
    top: 200px;
  }