h1, p {
  text-align: center;
}

li:hover {
  background-color: green;
  transition: 2s;
}

li:active {
  font-family: 'Courier New', Courier, monospace;
  transition: 5s;
}

ul, ol {
  list-style: none;
}