body {
font-size: 18px;
margin: 10px;

}
h1 {
font-size: 28px;
}
h2 {

}

img {
  max-width: 100%;
  margin-top: 0 25px;
}

.images{
  display: flex;
  flex-direction: column;
}

figure {
    margin: 0;
}

@media screen and (min-width: 800px) {
  *{
    background-color: green;
    font-size: 22px;
  }
  .images{
    flex-wrap: wrap;
    height: 1450px;
    align-items: center;
    align-content:space-around;
  }
}