*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 219, 219)
}

.title {
text-align: center;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 15px;
}

.card{
  background-color: rgb(52, 150, 14);
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(39, 35, 35);
}

.footer {
  text-align: center;
}