<style>

h1 { font-family: sans-serif;
}


p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline; 
}

#amarelo {background-color: yellow;
}

#vermelho {background-color: red;
}

#marrom {background-color: brown;}

</style>

